.connection-status{

margin-right:25px;

font-size:14px;

}



.online{

color:green;

}



.offline{

color:red;

}



.notification-icon{

position:relative;

font-size:24px;

cursor:pointer;

}



.notification-count{

position:absolute;

top:-8px;

right:-10px;

background:#ef4444;

color:white;

font-size:12px;

width:20px;

height:20px;

display:flex;

align-items:center;

justify-content:center;

border-radius:50%;

}