.notification-page{


padding:30px;


}



.notification-page p{


color:#6b7280;


}




.notification-list{


margin-top:30px;


}



.notification-card{


background:white;

padding:20px;

border-radius:15px;

margin-bottom:15px;

box-shadow:
0 5px 20px rgba(0,0,0,.08);


}



.notification-card span{


font-size:13px;

color:#6b7280;


}